version: "3.9"
services:
  caddy:
    image: caddy:2
    network_mode: "host"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - /opt/caddy-data:/data
      - ./www:/opt/livekit/www:ro
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    command: ["redis-server","--appendonly","yes"]
    network_mode: "host"
    restart: unless-stopped

  livekit:
    image: livekit/livekit-server:latest
    command: ["--config", "/etc/livekit.yaml"]
    volumes:
      - ./livekit.yaml:/etc/livekit.yaml:ro
      - ./turn.crt:/opt/livekit/turn.crt:ro
      - ./turn.key:/opt/livekit/turn.key:ro
    network_mode: "host"
    restart: unless-stopped

  ingress:
    image: livekit/ingress:latest
    environment:
      INGRESS_CONFIG_BODY: |
        api_key: ${LIVEKIT_API_KEY}
        api_secret: ${LIVEKIT_API_SECRET}
        ws_url: wss://${DOMAIN}
        redis:
          address: 127.0.0.1:6379
        whip_port: 8080
        http_relay_port: 9090
        rtc_config:
          udp_port: 7885
          use_external_ip: true
    network_mode: "host"
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "1935:1935"

  mosquitto:
    image: eclipse-mosquitto:2
    volumes:
      - ../mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: unless-stopped

volumes:
  mosquitto_data:
  mosquitto_log:
